

/*GERAL*/

body {
    background-color: black ;
} 

/*SIDEBAR NAVIGATION*/
.sidebar {
    position: fixed; /*sempre estará fixo*/
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: var(--color-bg-sidebar-navigation);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo {
    background: var(--color-bg-sidebar-navigation);
    display: flex;
    border-radius: 8px;
    padding: 1px 0 0 16px;
}

.sidebar__navigation .logo img { /*a tag img que está dentro da class logo*/
    width: 80px;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar nav ul li a {
    color: var(--color-font);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    font-family: var(--font-padrao);
}

/*Library*/

.library {
    background-color:#121212;
    border-radius: 8px;
    display: flex; /*flexbox*/
    justify-content: space-between; /*posicionamento justificado com um espaço entre os itens*/
    flex-direction: column; /*posição que será direcionado os itens, nesse caso, em colunas*/
    padding: 4px 8px;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color:#b3b3b3;
    background-color: transparent; /*RETIRAR O BACKGROUND, SEM "CORPO"*/
    border: 0px; /*sem contorno da borda*/
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-padrao);
    text-align: center;
    text-decoration: none;
    text-transform: none; /*essa propriedade permite especificar como capitalizar um texto de um elemento*/
    padding: 20px 10px;
}

.library .library__button .fa { /*1º span*/
    font-size: 20px;
    font-weight: 300;
    color:#b3b3b3;
    margin-right: 10px;
    padding-right: 8px;
}

.library .library__content .fa-plus { /*span do plus*/
    margin: 24px 10px;
}

.section-playlist {
    display: flex;
    align-items: flex-start; /*essa propriedade trabalha com o display flex -> flex-start reposiciona o conteúdo no início*/
    justify-content: space-between;
    gap: 20px; /*qual é o espaço/vão entre as propriedades*/
    background-color: #242424;
    color:#b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: 14px;
    color:#FFF;
    font-family:  var(--font-padrao);
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center; /*alinha o texto no centro do botão*/
    background-color: #FFF;
    color:#000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-padrao);
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 113px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color:#b3b3b3;
    font-family:  var(--font-padrao);
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color:#FFF;
    font-weight: bold;
    cursor: pointer; /*modifica o cursor quando passar em cima desse item*/
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}


/*FOOTER*/

.disclaimer-premium {
    display: flex;
    background-image: linear-gradient(to right, rgb(255, 113, 167), purple, blue);
    justify-content: space-between;
    flex-direction: row;
    margin-top: 590px;
    padding: 12px;
}

.disclaimer-premium .text {
    font-family: var(--font-padrao);
    color: white;
}

.disclaimer-premium__title {
    margin: 8px 0 4px 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font-padrao);
}



.disclaimer-premium__subtitle {
    margin: 8px 0 8px 16px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-padrao);
}

.disclaimer-premium .button {
    background-color: white;
    border: 1px solid #878787;
    border-radius: 16p;
    font-family: var(--font-padrao);
    text-align: center;
    color:#FFF;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

.disclaimer-premium button {
    background-color: transparent;
    border: none;
    align-items: center;
    font-weight: 600;
    cursor: pointer; /*modifica o cursor quando passar em cima desse item*/
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
    color: #000000;
}

